# Shared Python services
OPENAI_API_KEY=

# Django
DJANGO_SECRET_KEY=change-this-in-non-local-environments
DJANGO_DEBUG=true

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,15.165.138.121
DJANGO_CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173,http://15.165.138.121,http://a-fit.duckdns.org
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173,http://15.165.138.121,http://a-fit.duckdns.org

# Django -> FastAPI
FASTAPI_API_URL=http://127.0.0.1:8080
FASTAPI_PROFILE_TIMEOUT=10
FASTAPI_SIMULATE_TIMEOUT=30
FASTAPI_CHATBOT_TIMEOUT=30
FASTAPI_ANNOUNCEMENT_TIMEOUT=90
FASTAPI_PDF_TIMEOUT=90

DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false